html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.header {
    background: #000066 repeat;
    color: #fff;
    height: 57px;

}
.footer {

    background: #000066 repeat;
    color: #fff;
    height: 170px;
}
.copyright {
    text-align: center;
}

/* Create four equal columns that float next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}
.column1 {
    float: left;
    text-align: center;
    padding: 10px;
}
.column1 .left, .right {
    width: 10%;
}

.column1 .middle {
    width: 80%;
}

.column1 p {
    color: black;
}

.column a:hover {
    opacity: 0.5;
}
.column ul {
    list-style-type: none;
}
.column ul a {
    color: darkgrey;
}
.column ul a:hover {
    color: #ffffff;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the columns stack on top of each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.middle {
    background: beige;
    opacity: 0.85;
    color: black;
    height: 400px;
}

.middleTitle {
    text-align: center;
    padding: 10px;
}

.hero {
    background: #333 url(../Images/Hero%20CBS.png) no-repeat 50% 50%;
    background-size: cover;
    height: 585px;
}
.hero2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #333 url(../Images/Hero%20CBS.png) no-repeat 50% 50%;
    background-size: cover;
    height: 600px;
    opacity: 0.9;
}
.tagline {
    color: #ffffff;
    text-align: center;
    font-size: 85px;
}

.nav {
    overflow: hidden;
    top: 0;
    transition: top 0.3s;
}

.nav a:hover {
    background-color: #3333ff;
    color: black;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    display: block;
    font: bold 30px "Microsoft Tai Le Bold", Calibri, Georgia;
    padding: 10px;
    margin-right: 25px;
}
.nav li {
    float: left;
    list-style-type: none;
}